.mercy-image .mercy-image-picture {
  display: block;
  width: 100%;
  overflow: hidden;
}

.mercy-image .mercy-image-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Caption */
.mercy-image .mercy-image-caption {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: #555;
}
