.flex-columns > div {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.flex-columns > div > div {
  flex: 1;
  min-width: 0;
}

@media (width <= 767px) {
  .flex-columns > div {
    flex-direction: column;
  }

  .flex-columns > div > div {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}
